/*
@-webkit-keyframes animatedPulse {
	0%{background-position:left top}
    100%{background-position:left bottom}
}

@-moz-keyframes animatedPulse {
	0%{background-position:left top}
    100%{background-position:left bottom}
}

@keyframes animatedPulse {
	0%{background-position:left top}
    100%{background-position:left bottom}
}
*/

body {
	background-color: black;
	background-image: url('../img/bg1.png');
	margin-top: 64px;
}

.panel-terminal {
	font-family: 'Share Tech Mono', monospace;
 	border-radius: 8px;
 	color: rgba(150,255,255,0.9);
 	background-color: rgba(0,0,0,0.5);
}

.panel-heading {
	color: rgba(150, 255, 255, 1);
	border: 1px solid rgba(0,255,255,1);
	border-bottom: none;
	/*border-bottom: 1px solid rgba(0,255,255,0.5);*/
}

.panel-terminal .panel-body {
	border: 1px solid rgba(0,255,255,1);
	border-top: none;
	border-bottom: none;
}

.panel-terminal .panel-footer {
	background: none;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,255,255,1);
}

.panel-terminal .panel-footer input.form-control {
	background-color: rgba(150, 255, 255, 0.3);
	border: 1px solid rgba(0,255,255,1);
	color: rgba(150, 255, 255, 0.8);
	/*font-weight: bold;*/
}

.panel-terminal .panel-footer button {
	background-color: rgba(0,0,0, 0.3);
	border: 1px solid rgba(0,255,255,1);
	color: rgba(150, 255, 255, 0.8);
}

.panel-terminal .button-maximize {
	background-color: rgba(0,0,0, 0.3);
	border: 1px solid rgba(0,255,255,1);
	color: rgba(150, 255, 255, 0.8);

	float: right;
}

.maximized {
	position: absolute;
	top: 0;
	left: 0;

	height: 100% !important;
	width: 100% !important;
}

/*
.pulse-bg {
	background: -moz-linear-gradient(top, rgba(150,255,255,0) 0%, rgba(150,255,255,0.33) 1%, rgba(150,255,255,1) 3%, rgba(150,255,255,0) 6%, rgba(150,255,255,0) 100%),;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,255,255,0)), color-stop(1%,rgba(150,255,255,0.33)), color-stop(3%,rgba(150,255,255,1)), color-stop(6%,rgba(150,255,255,0)), color-stop(100%,rgba(150,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(150,255,255,0) 0%,rgba(150,255,255,0.33) 1%,rgba(150,255,255,1) 3%,rgba(150,255,255,0) 6%,rgba(150,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(150,255,255,0) 0%,rgba(150,255,255,0.33) 1%,rgba(150,255,255,1) 3%,rgba(150,255,255,0) 6%,rgba(150,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(150,255,255,0) 0%,rgba(150,255,255,0.33) 1%,rgba(150,255,255,1) 3%,rgba(150,255,255,0) 6%,rgba(150,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(150,255,255,0) 0%,rgba(150,255,255,0.33) 1%,rgba(150,255,255,1) 3%,rgba(150,255,255,0) 6%,rgba(150,255,255,0) 100%);

	-webkit-animation: animatedPulse 1s linear infinite;
	-moz-animation: animatedPulse 1s linear infinite;
	animation: animatedPulse 1s linear infinite;
}
*/